CompileFlags:
  Add: []
  Remove: ["-fno-printf-return-value", "-mfp16-format=ieee", "-fno-reorder-functions"]
  Compiler: clang

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: No
